<div class="row d-flex justify-content-center">

  <h1>Редактирование профиля</h1>

  <%= render "form" %>

  <p class="buffer-top">
    <%= link_to "Сменить пароль", edit_user_registration_path %>
  </p>
</div>
