<div class="text-center">
  <h1 class="buffer-bottom">Все события</h1>

  <div class="row buffer-bottom">
    <%= render partial: "events/event", collection: @events %>
  </div>

  <div class="text-center">
    <%= link_to t("button.new_event"), new_event_path, class: "text-center btn btn-success buffer-top" %>
  </div>
</div>