<p class="alert" style="color: green"><%= notice %></p>

<div class="text-center">
  <h1>Все события</h1>

  <div class="row buffer-bottom">
    <%= render partial: "events/event", collection: @events %>
  </div>

  <div class="text-center">
    <%= link_to "Создать новое событие", new_event_path, class: "text-center btn btn-success buffer-top" %>
  </div>
</div>